/* footer { */
	/* text-align : center; 글자 중앙 정렬 */
    /* background-color: #121212; 백그라운드 컬러 */
    /* color : #919191;  글자색 */
    /* font-size : 12px; */
/* } */

.mainbox {
    border : 1px solid #ff0606;
		width: 610px;
		/* text-align : center; */
		margin-left : auto;
		margin-right : auto;
		text-align:  right;
		padding: 30px;
		margin: 30px;

		box-shadow: 10px 10px 20px 0 rgb(250, 0, 183);
}



.next-text { 
	font-size: 17px;
	color: #7c7c7c;
	font-weight: bold;
}

footer{
	text-align: center;
	background-color: #1e1e1e;
	padding: 20px;
	font-size: 12px;
	color: #919191;
}