@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}

body {
    min-width: fit-content;
}

h1 { 
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	/* 글자 기울기 */
	margin-bottom: 8px;
}

h2{
	font-size : 20px;
	font-weight: lighter; 
	/* light -> lighter가 더 얇다 */
	color: #282828;
	border-bottom: 1px solid #2b2b2b;
	/* 테두리 선을 아래 쪽만 적용 시킬 때 */
	margin-bottom:  16px;
	padding-bottom: 5px;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}

section{
	margin-bottom: 24px;
}

.name-text {
	font-size: 16px;
	color: #7c7c7c;

	font-weight: bold;
	/* 글자 두께 */
}

.about-me-text{
	font-size: 10px;

	/* 줄 간 간격 조정 */
	line-height: 16px;
}

.title-text {
	font-size: 11px;
	font-weight : bold;
	color: #282828;
	/* text-align: left;  */
	float : left;
}

.year-text {
	font-size: 11px;
	font-weight: bold;
	color: #282828;
	/* text-align: right; */
	float : right; 
	/* 둥둥 떠다니다 */
}


.float-wrap {
	overflow: hidden;
	/* .title-text, .year-text의 float를 묶어주고 다음에 오는 요소들을 안 겹치게 해줌 */
}

.desc-text {
	font-size: 9px;

}

.desc-subtext {
	font-size: 9px;
	color: #282828;

	/* 왼쪽만 띄워주기 위해 */
	padding-left: 16px;

	margin-bottom: 8px;
}

.title-box {
	text-align: right;
}

.sns-img {
	width: 12px;
	height: 12px;
	/* 이미지 크기 지정 */
}

.sns-wrap {
	text-align: right;
}